.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3% 10%;
  background-color: #eee;
  color: #000;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;

  &__title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    font-family: "Merriweather Sans", sans-serif;
    text-transform: uppercase;
  }

  &__container {
    display: flex;

    & > * {
      width: 100%;
    }
  }

  &__text {
    padding: 2%;
    font-size: 1.5rem;
  }

  &__link,
  &__link:link,
  &__link:active {
    text-decoration: none;
    display: inline-block;
    color: #345294;
    font-weight: 900;
    position: relative;
    z-index: 3;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      height: 0%;
      width: 100%;
      background-color: #000;
      transition: all 0.5s;
      z-index: -1;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 50%;
      left: 0;
      height: 0%;
      width: 100%;
      background-color: #000;
      transition: all 0.5s;
      z-index: -1;
    }

    &:hover {
      color: rgb(241, 239, 64);

      &:before,
      &:after {
        height: 50%;
      }
    }
  }

  &__description {
    padding-bottom: 2rem;
  }

  &__visual {
  }

  &__image {
    width: 100%;
  }
}
