@import "../../../styles/config/mixins";

.features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  padding: 3% 0;

  @include respond(tab-port) {
    grid-template-columns: repeat(2, 1fr);
  }

  & > * {
    width: 100%;
  }
}
