.features {
    display: flex;
    justify-content: space-around;
    padding: 3% 10%;
    background-color: #eee;
  color: #000;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;

  & > * {
      width: 100%;
  }

}